.caja1 {
	border: 1px solid black;
	background: yellow;
	height: 5em;
}

.col1, .col2, .col3 {
	display: inline-block;
	height: 5em;
	width: 33%;
	margin-top: 4px;
}

.col1 {
	border: 1px solid black;
	background: red;
}

.col2 {
	border: 1px solid black;
	background: green;
}

.col3 {
	border: 1px solid black;
	background: blue;
}

.caja2 {
	border: 1px solid black;
	background: grey;
	height: 5em;
	width: 100%;
}